:root {
    /*primary colors*/
    --moderate-blue: hsl(238, 40%, 52%);
    --soft-red: hsl(358, 79%, 66%);
    --light-grayish-blue: hsl(239, 57%, 85%);
    --pale-red: hsl(357, 100%, 86%);
    /*neutral colors*/
    --dark-blue: hsl(212, 24%, 26%);
    --grayish-blue: hsl(211, 10%, 45%);
    --light-gray: hsl(223, 19%, 93%);
    --very-light-gray: hsl(228, 33%, 97%);
    --white: hsl(0, 0%, 100%);
}

body {
    background: var(--very-light-gray);
    font-family:'Rubik', sans-serif;
}

.comment-block {
    padding: 20px;
    border-radius: 10px;
}

#comment__list {
    overflow-y: auto;
}

#comment__add {
    background: var(--white);
    justify-content: space-between;
    display: flex;
    width: 800px;
    height: 90px;
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

#current-user-pic {
    height: 60px;
}

#comment__input {
    width: 70%;
    height: 80px;
    resize: unset;
    font-family:'Rubik', sans-serif;
    padding: 10px;
    font-size: 1rem;
    border-color: var(--light-grayish-blue);
    border-radius: 5px;
}

#comment__input:focus {
    outline-color: var(--moderate-blue);
}

.button {
    background: var(--moderate-blue);
    color: var(--white);
    font-weight: 700;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.comment-item {
    display: flex;
    background: var(--white);
    width: 800px;
    margin: 20px auto;
}

.like-count-container {
    display: flex;
    align-items: center;
    width: 15%;
}

.like-control-component {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--light-gray);
    padding: 10px 5px;
    width: 25px;
    border-radius: 10px;
}

.add-remove-like {
    width: 15px;
    cursor: pointer;
}

.like-count {
    color: var(--moderate-blue);
    font-weight: 700;
}

.comment-item-container {
    display: flex;
    flex-direction: column;
}

.comment-item-header {
    display: flex;
    align-items: center;
    height: 30px;
}

.container-author-date {
    display: flex;
    align-items: center;
    gap: 20px;
}

.author-profile {
    height: 40px;
}

.author {
    font-size: 1rem;
}

.date {
    color: var(--grayish-blue);
    font-weight: 400;
}

.comment-item-header-reply {
    display: flex;
    width: 10%;
    align-items: center;
    gap: 5px;
}

.comment-item-header-reply {
    cursor: pointer;
}

.reply-icon {
    height: 25px;
}

.reply-text {
    color: var(--moderate-blue);
    font-weight: 500;
}

.comment-item-header {
    display: flex;
    justify-content: space-between;
}

.comment-item-text {
    color: var(--grayish-blue);
    margin-top: 20px;
    margin-bottom: 0;
}